	<form name="form" ng-controller="MainCtrl" novalidate>
		<!-- message and error-->
		<ul>
			<li class="err" ng-repeat="error in errors"> {{ error}} </li>
		</ul>
		<ul>
			<li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
		</ul>

		<!-- username-->
		<div class="form-group clearfix" ng-class="{
				'has-error': form.$submitted && form.userName.$invalid,
				'has-success': form.$submitted && form.userName.$valid}">
			<label class="col-sm-3 control-label" for="userName">Username</label>
			<div class="col-sm-8">
				<input id="userName" name="userName" class="form-control" type="text" ng-model="username" required autofocus></input>
				<div class="alert alert-danger" ng-show="form.userName.$dirty && form.userName.$error.required">Username is required</div>
			</div>
		</div>
		<!-- password-->
		<div class="form-group clearfix" ng-class="{
				'has-error': form.$submitted && form.password.$invalid,
				'has-success': form.$submitted && form.password.$valid}">
			<label class="col-sm-3 control-label" for="password">Password</label>
			<div class="col-sm-8">
				<input id="password" name="password" class="form-control" type="password" ng-model="userpassword" required></input>
				<div class="alert alert-danger" ng-show="form.password.$dirty && form.password.$error.required">Password is required</div>
			</div>
		</div>
		<!-- form controls-->
		<div class="form-group">
			<button ng-click="Login()" class="btn btn-primary" ng-disabled="(form.$invalid)">Login</button>
		</div>
	</form>
